.columns-editor, columns-header-label {
    min-width: 75%;
}

.columns-edit-button {
    max-width: 25%;
    text-align: right;
    float: right;
    background-color: transparent;
    border-color: transparent;
    margin: 0;
    padding: 2px 4px;
}

.columns-input-input {
    width: 45%;
}
.columns-input-button {
    width: 30%;
    padding: 2px 4px;
}

